@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Nvs.Controllers.ghome

        <table class="table table-striped table-hover">
            <thead>
                <tr><th colspan="6">@DateTime.Now.ToString("dd-MM-yyyy HH:mm:ss")</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: blue; font-weight: bold;">Registered</td>
                    <td style="color: blue; font-weight: bold;">HeartBeat</td>
                    <td style="color: blue; font-weight: bold;">Battery</td>
                    <td style="color: blue; font-weight: bold;">DetectionStatus</td>
                    <td style="color: blue; font-weight: bold;">LastDetectionOn</td>
                    <td style="color: blue; font-weight: bold;">LastDetectionOff</td>
                </tr>

    @foreach (var sensor in Model.Sensors)
    {
        <tr>
            <td colspan="6" style="color: green; font-weight: bold;">@($"{sensor.MacAddress} --> {sensor.User.Name} `{sensor.Name}`")</td>
        </tr>

        <tr>
            <td>@sensor.RegisterDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@sensor.HeartBeatDate?.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@($"{sensor.BatteryVoltage?.ToString("F2")} {sensor.BatteryVoltageDate?.ToString("dd-MM-yyyy HH:mm:ss")}")</td>
            <td>@($"{sensor.DetectionStatus} {sensor.DetectionStatusDate?.ToString("dd-MM-yyyy HH:mm:ss")}")</td>
            <td>@sensor.LastDetectionOnDate?.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@sensor.LastDetectionOffDate?.ToString("dd-MM-yyyy HH:mm:ss")</td>
        </tr>
    }

            </tbody>
        </table>

    