@model SensHagen.Controllers.ghome

@{
    ViewData["Title"] = "Home Page";



}

<div class="text-center">
    <h3><b>Users</b></h3>
    @foreach (var item in Model.Users)
    {
        @item.EmailAddress <span>;</span>
    }
    
    <br /><br />

    <h3><b>Sensors</b></h3>
    @foreach (var sensor in Model.Sensors)
    {
        <h4>@sensor.MacAddress - @sensor.User.Name `@sensor.Name`</h4>
        <ul>
            <li>Registered: @sensor.RegisterDate.ToString("dd-MM-yyyy HH:mm:ss")</li>
            <li>HeartBeat: @sensor.HeartBeatDate?.ToString("dd-MM-yyyy HH:mm:ss")</li>
            <li>Battery: @sensor.BatteryVoltage?.ToString("F2") [@sensor.BatteryVoltageDate?.ToString("dd-MM-yyyy HH:mm:ss")]</li>
            <li>DetectionStatus: @sensor.DetectionStatus @sensor.DetectionStatusDate?.ToString("dd-MM-yyyy HH:mm:ss")</li>
            <li>LastDetectionOn: @sensor.LastDetectionOnDate?.ToString("dd-MM-yyyy HH:mm:ss")</li>
            <li>LastDetectionOff: @sensor.LastDetectionOffDate?.ToString("dd-MM-yyyy HH:mm:ss")</li>
        </ul>
    }
    
</div>
